.download__btn {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  background: var(--btn-background);
  margin-right: 1rem;
}

.download__logo {
  margin-right: 1rem;
}
