.card__task {
  width: 30rem;
  margin-bottom: 3rem;
  border-radius: 25px;
  box-shadow: 0 2px 4px #c4c4c4;
  cursor: pointer;
  transition: 0.3s;
}

.card__task:hover {
  transform: scale(1.05);
}

.card__task:hover .card__task__title {
  background: var(--tasks-card-header-background);
}

.card__task__title {
  height: 3em;
  font-size: 2.15rem;
  font-weight: 500;
  color: var(--tasks-card-header);
  background: #2f40ac;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.card__task__content {
  height: 15rem;
  background-color: var(--tasks-card-content-background);
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unit {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.passed {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00c892;
}

.star {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

/* .card__tasks a {
  color: inherit;
  text-decoration: inherit;
  width: 100%;
  height: 100%;
}

.card__tasks a:hover {
  color: balck;
  text-decoration: inherit;
} */

.card__link {
  color: var(--tasks-card-content);
}
