.contact__block {
  background-color: var(--leader-background);
  color: #fff;
  padding-bottom: 5rem;
}

.contact__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact__title {
  margin-bottom: 2rem;
  color: var(--contact-title);
}
