.hero {
  background-color: var(--hero-background);
}

.hero__content {
  text-align: center;
  /* grid-row: 2; */
}

.hero__content h1 {
  font-size: 5rem;
  line-height: 1.1;
  margin-top: 1rem;
}

.hero__content span {
  color: var(--hero-span);
}

.hero__content p {
  font-size: 2rem;
  color: var(--hero-tagline);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 1rem 0 3rem;
}

.hero__image {
  margin-top: 4rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* .hero {
    height: 70vh;
  } */
  .hero__content {
    text-align: left;
    align-self: center;
    grid-row: auto;
  }
  .hero__content h1 {
    font-size: 7rem;
    padding: 0;
    margin-top: 0;
  }
  .hero__content p {
    margin: 1rem 0 4rem;
  }
  .hero__image {
    margin: 0rem;
  }
}

@media screen and (min-width: 1700px) {
  .hero {
    height: auto;
  }
  .hero__content h1 {
    font-size: 8rem;
  }
}
