/* body {
  font-family: sans-serif;
  margin: 200px 200px;
  display: flex;
  justify-content: space-around;
  background: rgb(95, 93, 86);
} */

.loading__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
* {
  margin: 20;
}

body {
  background-color: black;
} */

.spinee {
  position: relative;
  width: 150px;
  height: 150px;
}

.spinee span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: animate 2s linear infinite;
}

.spinee .span1 {
  transform: rotate(18deg);
}

.spinee .span2 {
  transform: rotate(36deg);
}

.spinee .span3 {
  transform: rotate(54deg);
}

.spinee .span4 {
  transform: rotate(72deg);
}

.spinee .span5 {
  transform: rotate(90deg);
}

.spinee .span6 {
  transform: rotate(108deg);
}

.spinee .span7 {
  transform: rotate(126deg);
}

.spinee .span8 {
  transform: rotate(144deg);
}

.spinee .span9 {
  transform: rotate(162deg);
}

.spinee .span10 {
  transform: rotate(180deg);
}

.spinee .span11 {
  transform: rotate(198deg);
}

.spinee .span12 {
  transform: rotate(216deg);
}

.spinee .span13 {
  transform: rotate(234deg);
}

.spinee .span14 {
  transform: rotate(252deg);
}

.spinee .span15 {
  transform: rotate(270deg);
}

.spinee .span16 {
  transform: rotate(288deg);
}

.spinee .span17 {
  transform: rotate(306deg);
}

.spinee .span18 {
  transform: rotate(324deg);
}

.spinee .span19 {
  transform: rotate(342deg);
}

.spinee .span20 {
  transform: rotate(360deg);
}

.spinee span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: rgb(104, 198, 230);
  border-radius: 50%;
}

.spinee span.span1::before {
  animation-delay: 0.1s;
  background-color: tomato;
}

.spinee span.span2::before {
  animation-delay: 0.2s;
}

.spinee span.span3::before {
  animation-delay: 0.3s;
}

.spinee span.span4::before {
  animation-delay: 0.4s;
}

.spinee span.span5::before {
  animation-delay: 0.5s;
}

.spinee span.span6::before {
  animation-delay: 0.6s;
}

.spinee span.span7::before {
  animation-delay: 0.7s;
}

.spinee span.span8::before {
  animation-delay: 0.8s;
}

.spinee span.span9::before {
  animation-delay: 0.9s;
}

.spinee span.span10::before {
  animation-delay: 1s;
}

.spinee span.span11::before {
  animation-delay: 1.1s;
}

.spinee span.span12::before {
  animation-delay: 1.2s;
}

.spinee span.span13::before {
  animation-delay: 1.3s;
}

.spinee span.span14::before {
  animation-delay: 1.4s;
}

.spinee span.span15::before {
  animation-delay: 1.5s;
}

.spinee span.span16::before {
  animation-delay: 1.6s;
}

.spinee span.span17::before {
  animation-delay: 1.7s;
}

.spinee span.span18::before {
  animation-delay: 1.8s;
}

.spinee span.span19::before {
  animation-delay: 1.9s;
}

.spinee span.span20::before {
  animation-delay: 2s;
}

.shark {
  position: absolute;
  top: -20;
  left: -20;
  width: 120%;
  height: 120%;
  color: rgb(18, 179, 233);
  transform: rotate(170deg);
  animation: rotating 2s linear infinite;
}

/* @keyframes animate {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(20deg);
  }
  80%,
  100% {
    transform: rotate(200deg);
  }
} */

@keyframes rotating {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(370deg);
  }
}
