.loading__container {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinee {
  position: relative;
  width: 150px;
  height: 150px;
}

.spinee span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spinee .span1 {
  transform: rotate(18deg);
}

.spinee .span2 {
  transform: rotate(36deg);
}

.spinee .span3 {
  transform: rotate(54deg);
}

.spinee .span4 {
  transform: rotate(72deg);
}

.spinee .span5 {
  transform: rotate(90deg);
}

.spinee .span6 {
  transform: rotate(108deg);
}

.spinee .span7 {
  transform: rotate(126deg);
}

.spinee .span8 {
  transform: rotate(144deg);
}

.spinee .span9 {
  transform: rotate(162deg);
}

.spinee .span10 {
  transform: rotate(180deg);
}

.spinee .span11 {
  transform: rotate(198deg);
}

.spinee .span12 {
  transform: rotate(216deg);
}

.spinee .span13 {
  transform: rotate(234deg);
}

.spinee .span14 {
  transform: rotate(252deg);
}

.spinee .span15 {
  transform: rotate(270deg);
}

.spinee .span16 {
  transform: rotate(288deg);
}

.spinee .span17 {
  transform: rotate(306deg);
}

.spinee .span18 {
  transform: rotate(324deg);
}

.spinee .span19 {
  transform: rotate(342deg);
}

.spinee .span20 {
  transform: rotate(360deg);
}

.spinee span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: rgb(104, 198, 230);
  border-radius: 50%;
  animation: scaleAnimate 1s linear infinite;
  visibility: hidden;
}

.spinee span.span1::before {
  animation-delay: 0.05s;
}

.spinee span.span2::before {
  animation-delay: 0.1s;
}

.spinee span.span3::before {
  animation-delay: 0.15s;
}

.spinee span.span4::before {
  animation-delay: 0.2s;
}

.spinee span.span5::before {
  animation-delay: 0.25s;
}

.spinee span.span6::before {
  animation-delay: 0.3s;
}

.spinee span.span7::before {
  animation-delay: 0.35s;
}

.spinee span.span8::before {
  animation-delay: 0.4s;
}

.spinee span.span9::before {
  animation-delay: 0.45s;
}

.spinee span.span10::before {
  animation-delay: 0.5s;
}

.spinee span.span11::before {
  animation-delay: 0.55s;
}

.spinee span.span12::before {
  animation-delay: 0.6s;
}

.spinee span.span13::before {
  animation-delay: 0.65s;
}

.spinee span.span14::before {
  animation-delay: 0.7s;
}

.spinee span.span15::before {
  animation-delay: 0.75s;
}

.spinee span.span16::before {
  animation-delay: 0.8s;
}

.spinee span.span17::before {
  animation-delay: 0.85s;
}

.spinee span.span18::before {
  animation-delay: 0.9s;
}

.spinee span.span19::before {
  animation-delay: 0.95s;
}

.spinee span.span20::before {
  animation-delay: 1s;
}

@keyframes scaleAnimate {
  0% {
    transform: scale(0);
    visibility: visible;
  }
  10% {
    transform: scale(1.1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}

.shark {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: rgb(18, 179, 233);
  animation: rotating 1s linear infinite;
  /* background-color: tomato; */
}

.shark .shark__icon {
  transform: rotate(-70deg);
  position: relative;
  top: -40px;
  left: -40px;
}

@keyframes rotating {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(370deg);
  }
}
