.manage__container {
  background: #f7fcff;
  width: 100%;
  height: calc(100vh - 6.14rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  color: #fff;
}

.manage__box {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 3rem;
  background: #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.manage__iconBx {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s;
  transform: translateY(0);
}

.manage__box:hover .manage__iconBx {
  transform: translateY(-100%);
}

.manage__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  transform: scale(1) translateY(calc(100% - 5px));
}

.manage__box:hover .manage__content {
  transform: scale(1);
}

.content__bx1 {
  background-color: #ff3579;
}

.content__bx2 {
  background-color: #2ba1ff;
}

.content__bx3 {
  background-color: #c630e0;
}

.manage__content h3 {
  color: #fff;
}
