/* body.active-modal {
    overflow-y: hidden;
} */

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  cursor: pointer;
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  width: 45rem;
  height: 23rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  border-radius: 40px;
  /* max-width: 600px;
  min-width: 300px; */
  background-color: tomato;
}

.modal-content--nickname {
  top: 40%;
}

.modal-content--password {
  top: 30%;
}

.modal-content--codeBoard {
  top: 30%;
  width: 90rem;
}

.modal-content--line {
  width: 20rem;
  top: 50%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-modal--codeBoard {
  top: 1.5rem;
  right: 1.5rem;
}

.line__img {
  transform: scale(2);
}
