.navbar {
  --font-logo: 2.3rem;
  --font-list: 1.8rem;
}

.navbar {
  width: 100%;
  background: var(--color-body);
  padding: 1rem 0;
  transition: 0.25s;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
}

.nav__container {
  /* max-width: 1024px; */
  margin: 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__toggle {
  cursor: pointer;
}

.nav__link {
  font-size: var(--font-list);
  color: var(--color-title);
}
.nav__link:hover {
  color: var(--color-nav-hover);
}
.nav__logo {
  color: var(--color-primary);
  font-weight: 700;
  font-size: var(--font-logo);
}

.nav__menu {
  position: absolute;
  background-color: var(--color-body);
  top: -50%;
  right: 0;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: 0.3s;
}

.navbar.show__menu {
  box-shadow: none;
}

.navbar.show__menu .nav__menu {
  top: 5rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 1.7rem 0 1rem;
    position: relative;
    /* box-shadow: 0 0 5px #000; */
  }

  .nav__container {
    justify-content: flex-start;
    position: relative;
  }

  .nav__menu {
    transition: none;
    position: inherit;
    box-shadow: none;
    z-index: 0;
    width: auto;
  }

  .nav__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
  }
  .nav__item {
    margin: 0 1.5rem;
  }

  .nav__logout {
    display: block;
  }

  .nav__toggle {
    display: none;
  }

  .nav__selected {
    color: var(--color-primary);
    position: relative;
  }

  .nav__selected span {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    animation: animate 0.5s cubic-bezier(1, 0, 0.3, 1) forwards;
  }

  #theme-toggle {
    display: block;
    position: absolute;
    left: 95%;
    top: 10%;
    cursor: pointer;
  }

  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
}
