.progress__box {
  margin: 3rem auto;
}

.progress__content {
  height: var(--card-propoties-height);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar__container {
  position: relative;
  width: 80%;
}

.bar__title {
  font-size: var(--card-propties-font);
  font-weight: var(--font-semi-bold);
  color: var(--color-primary);
}

.bar__percent {
  position: absolute;
  font-size: var(--card-percent-size);
  color: var(--color-primary);
  top: 0;
  right: 0;
}

.bar {
  position: relative;
  height: 1.7rem;
  width: 100%;
  margin-top: 1rem;
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
}

.bar span {
  height: 100%;
  background: rgb(80, 105, 255);
  background: linear-gradient(
    143deg,
    rgba(80, 105, 255, 1) 0%,
    rgba(37, 63, 107, 1) 100%
  );
  position: absolute;
  border-radius: 10px;
  transition: 0.3s;
}

.submitted__container {
  width: 80%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.submitted__title {
  font-size: var(--card-propties-font);
  font-weight: var(--font-semi-bold);
  color: var(--color-primary);
}

.submitted__count {
  font-size: var(--card-propoties-number);
  font-weight: var(--font-bold);
  color: var(--color-primary);
  transform: translateY(-5px);
  justify-self: center;
}

.submitted__unit {
  font-size: var(--card-propties-font);
  font-weight: var(--font-semi-bold);
  color: var(--color-primary);
  position: relative;
  right: var(--card-unit-right);
  top: var(--card-unit-top);
}
