.profile__box {
  margin: 3rem auto;
}

.profile__content {
  height: var(--card-profile-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__image {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.profile__image img {
  width: var(--card-profile-img);
  border: 3px solid #c4c4c4;
  border-radius: 50%;
}

.profile__details h2 {
  font-size: var(--card-profile-label);
  font-weight: 700;
  margin-top: 1rem;
}

.profile__details span {
  font-size: var(--card-profile-span);
  font-weight: 400;
}

.profile__btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: var(--card-profile-btn);
  font-weight: 600;
  margin: 2rem 0 4rem;
  padding: 1.5rem 5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: white;
  background-color: var(--btn-background);
  transition: 0.3s;
}

.profile__btn:hover {
  background-color: var(--btn-hover);
}
