/*======== Mobile =======*/
@media screen and (max-width: 768px) {
  .profile__box {
    margin-top: 8rem;
  }
}

/* ======= Variables ======== */

.profile__container {
  overflow: hidden;
  --card-profile-height: 41rem;
  --card-profile-img: 15rem;
  --card-profile-label: 1.8rem;
  --card-profile-span: 1.7rem;
  --card-profile-btn: 1.5rem;
  --card-propoties-height: 17.6rem;
  --card-propties-font: 2.5rem;
  --card-propoties-number: 4rem;
  --card-team-img: 10rem;
  --card-percent-size: 2.3rem;
  --card-unit-right: 10px;
  --card-unit-top: 12px;
}

@media screen and (min-width: 768px) {
  .profile__container {
    --card-profile-height: 45rem;
    --card-profile-img: 15rem;
    --card-profile-label: 1.8rem;
    --card-profile-span: 1.7rem;
    --card-profile-btn: 1.5rem;
    --card-propoties-height: 18rem;
    --card-propties-font: 1.8rem;
    --card-propoties-number: 4rem;
    --card-profile-position: 2.3rem;
    --card-propoties-position: -2.3rem;
    --card-percent-size: 2rem;
    --card-unit-right: 0px;
    --card-unit-top: 17px;
  }

  .profile__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .rank__content {
    align-items: center;
  }
}
@media screen and (min-width: 1100px) {
  .profile__container {
    --card-profile-height: 60rem;
    --card-profile-img: 23rem;
    --card-profile-label: 2.5rem;
    --card-profile-span: 2rem;
    --card-profile-btn: 1.6rem;
    --card-propoties-height: 25.6rem;
    --card-propties-font: 3rem;
    --card-propoties-number: 6rem;
    --card-profile-position: 4rem;
    --card-propoties-position: -4rem;
    --card-team-img: 12.8rem;
    --card-percent-size: 2.7rem;
    --card-unit-right: 0px;
    --card-unit-top: 17px;
  }
}

@media screen and (min-width: 1300px) {
  .profile__container {
    --card-profile-height: 60rem;
    --card-profile-img: 27rem;
    --card-profile-label: 2.8rem;
    --card-profile-span: 2.5rem;
    --card-profile-btn: 1.6rem;
    --card-propoties-height: 25.6rem;
    --card-propties-font: 3rem;
    --card-propoties-number: 7rem;
    --card-profile-position: 5.3rem;
    --card-team-img: 14.3rem;
    --card-propoties-position: -5.3rem;
    --card-unit-right: -3px;
    --card-unit-top: 35px;
  }
}
@media screen and (min-width: 1700px) {
  .profile__container {
    --card-profile-height: 80rem;
    --card-profile-img: 35rem;
    --card-profile-label: 3.5rem;
    --card-profile-span: 3rem;
    --card-profile-btn: 2.3rem;
    --card-propoties-height: 34.33rem;
    --card-propties-font: 3em;
    --card-propoties-number: 7rem;
    --card-profile-position: 7rem;
    --card-propoties-position: -7rem;
    --card-team-img: 14.5rem;
    --card-percent-size: 3rem;
    --card-unit-right: -28px;
    --card-unit-top: 35px;
  }

  .profile__btn {
    padding: 1.8rem 5rem;
    margin-top: 2.5rem;
  }
}

.profile__box {
  transform: translateX(var(--card-profile-position));
}
.profile__propoties {
  transform: translateX(var(--card-propoties-position));
}
