/*======== Mobile =======*/
@media screen and (max-width: 768px) {
  /*===== Profile Box =====*/
  .profile__box {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 768px) {
  /*===== Profile Page  =====*/
  .profile__background {
    margin: 10rem auto 2rem auto;
  }

  .profile__container {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: #eff1ff; */
    border-radius: 10px;
  }

  /*===== Profile Box =====*/
  .profile__box {
    position: relative;
    left: 2.5rem;
  }
  .profile__propoties {
    position: relative;
    right: 2.5rem;
  }
  .profile__box .profile__content {
    height: 54.8rem;
  }
  .profile__image img {
    width: 15rem;
  }

  .profile__details h2 {
    font-size: 1.8rem;
  }

  .profile__details span {
    font-size: 1.7rem;
  }

  .profile__btn {
    font-size: 1rem;
    padding: 1.8rem 4.5rem;
    margin-top: 2.6rem;
  }

  /*===== Rank Box =====*/
  .rank__content {
    height: 23rem;
  }

  .rank__content h3 {
    font-size: 1.8rem;
  }

  .rank__order,
  .rank__score {
    transform: translateY(30px);
  }

  .rank__order h1 {
    font-size: 8rem;
    transform: translateY(-23px);
  }

  .rank__score h1 {
    font-size: 4rem;
    transform: translateY(-5px);
  }

  .rank__score h3:nth-last-child(1) {
    transform: translateY(-20px);
  }
}

@media screen and (min-width: 1000px) {
  /*===== Profile Box =====*/
  .profile__box {
    left: 2.8rem;
  }
  .profile__propoties {
    right: 2.8rem;
  }
  .profile__box .profile__content {
    height: 54.8rem;
  }
  .profile__image img {
    width: 18rem;
    position: relative;
    right: 2rem;
  }

  .profile__details h2 {
    font-size: 2.2rem;
  }

  .profile__details span {
    font-size: 2rem;
  }

  .profile__btn {
    font-size: 1.3rem;
  }

  /*===== Rank Box =====*/
  .rank__content {
    height: 23rem;
  }

  .rank__order,
  .rank__score {
    transform: translateY(25px);
  }

  .rank__content h3 {
    font-size: 2rem;
  }

  .rank__order h1 {
    font-size: 10rem;
  }

  .rank__score h1 {
    font-size: 6rem;
  }
}

/*======== NoteBook =======*/
@media screen and (min-width: 1300px) {
  /*===== Profile Box =====*/
  .profile__box {
    left: 5.3rem;
  }
  .profile__propoties {
    right: 5.3rem;
  }
  .profile__box .profile__content {
    height: 54.8rem;
  }
  .profile__image img {
    width: 22rem;
    right: 3.7rem;
  }

  .profile__details h2 {
    font-size: 2.7rem;
  }

  .profile__details span {
    font-size: 2.5rem;
  }

  .profile__btn {
    font-size: 1.7rem;
  }

  /*===== Rank Box =====*/
  .rank__content {
    height: 23rem;
  }

  .rank__order,
  .rank__score {
    transform: translateY(3px);
  }

  .rank__content h3 {
    font-size: 3rem;
  }

  .rank__order h1 {
    font-size: 10rem;
  }

  .rank__score h1 {
    font-size: 7rem;
    /* color: #252f6b; */
  }
}

@media screen and (min-width: 1700px) {
  /*===== Profile Box =====*/
  .profile__box {
    left: 7rem;
  }
  .profile__propoties {
    right: 7rem;
  }
  .profile__box .profile__content {
    height: 70.5rem;
  }
  .profile__image img {
    width: 28rem;
    right: 6.3rem;
  }

  .profile__details h2 {
    font-size: 3.3rem;
  }

  .profile__details span {
    font-size: 3rem;
  }

  .profile__btn {
    font-size: 1.7rem;
  }

  /*===== Rank Box =====*/
  .rank__content {
    height: 29.5rem;
  }

  .rank__order,
  .rank__score {
    transform: translateY(20px);
  }

  .rank__content h3 {
    font-size: 3rem;
    font-weight: 200;
    color: #252f6b;
  }

  .rank__order h1 {
    font-size: 12rem;
  }

  .rank__score h1 {
    font-size: 8rem;
    color: #252f6b;
  }
}
