.rank__box {
  margin: 3rem auto;
}

.rank__content {
  height: var(--card-propoties-height);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.rank__content h3 {
  font-size: var(--card-propties-font);
  font-weight: var(--font-semi-bold);
  color: var(--color-primary);
}

.rank__team {
  text-align: center;
}

.team__logo {
  margin-top: 0.3rem;
  width: var(--card-team-img);
  /* border-radius: 50%; */
}

.rank__score {
  text-align: center;
}

.rank__score h1 {
  font-size: var(--card-propoties-number);
  font-weight: var(--font-bold);
  color: #252f6b;
  transform: translateY(-5px);
}

.rank__score h3:nth-last-child(1) {
  transform: translateY(-10px);
}
