.scoreboard__content {
  color: white;
}

.scoreboard__content table {
  background: var(--color-background);
  width: inherit;
  height: inherit;
  font-size: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
  /* table-layout: fixed; */
  width: 1000px;
  height: 700px;
}

.scoreboard__content th,
.scoreboard__content td {
  padding: 12px 30px;
  cursor: default;
}

.scoreboard__content th {
  background: #ba86c8;
  text-transform: uppercase;
  color: #fafafa;
}

.scoreboard__content tfoot {
  background: #ba86c8;
}

/* .scoreboard__content tfoot tr {
}

.scoreboard__content tfoot td {
} */

.scoreboard__content tbody tr:nth-child(even) {
  /* background: #292929; */
  background: var(--color-background);
}

.scoreboard__arrow__container {
  /* padding: 0.1rem; */
  display: flex;
  justify-content: flex-end;
  height: 30px;
  position: relative;
  top: -2px;
}

.scoreboard__arrow {
  color: white;
  cursor: pointer;
}

.scoreboard__highlight {
  color: rgb(56, 219, 170);
  /* color: tomato; */
}
