.submission__page {
  background: var(--color-background);
  height: calc(100vh - var(--navbar-height));
}

.submission__container {
  height: 100%;
  padding: 1rem 3rem;
  background: var(--color-background);
}

.submission__bar {
  width: 100%;
  background: var(--submission-bar);
}

.submission__footer {
  height: 1rem;
}

.submission__content {
  height: calc(100% - 8rem);
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submission__card__text {
  color: var(--submission-card-text);
}

.submission__page .tasks__content {
  height: calc(100% - 4rem);
}

.submission__loading__page {
  background: var(--color-background);
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
}

.loadingDot {
  animation: submissionLoad 1s linear infinite;
}

.dot2 {
  animation-delay: 0.1s;
}
.dot3 {
  animation-delay: 0.2s;
}

@keyframes submissionLoad {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}
