.submission__card {
  width: 30rem;
  height: 15.5rem;
  margin-bottom: 7rem;
  border-radius: 25px;
  box-shadow: 0 2px 4px var(--tasks-card-shadow);
  transition: 0.3s;
}

.submission__card:hover {
  transform: scale(1.05);
}

.submission__card__title {
  height: 3em;
  font-size: 2.15rem;
  font-weight: 500;
  color: var(--tasks-card-header);
  background: var(--tasks-card-header-background);
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  transition: 0.2s;
}

.submission__card__content {
  height: 12.5rem;
  padding-top: 1rem;
  background-color: var(--tasks-card-content-background);
  border-radius: 0 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submission__card__text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
