.submit__animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: progress;
  /* background: rgb(12, 40, 177); */
}

.submit__animation h1 {
  color: white;
  font-size: 6rem;
}
