.task__form {
  min-width: 1190px;
  background: var(--task-background);
  height: calc(100vh - var(--navbar-height));
}

.task__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task__right {
  width: 100%;
  height: 89vh;
  display: grid;
  grid-template-rows: 180px 1fr 80px;
}

.task__right .detail__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task__right .btn__container {
  /* background-color: gold; */
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.task__btn__right {
  display: flex;
}
