.tasks__background {
  background-color: var(--tasks-background);
}

.tasks__container {
  padding: 1rem 2rem 2rem 2rem;
  height: var(--container-height);
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgb(146, 145, 145); */
}

.tasks__bar {
  height: 5.5rem;
  background: var(--tasks-bar);
}

.tasks__header {
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  display: none;
  margin: 0 2rem;
  width: 1px;
  height: 4.5rem;
  background-color: white;
}

.tasks__logo {
  margin-left: 2rem;
  display: none;
}

.tasks__content {
  background-color: var(--tasks-container-background);
  height: calc(100% - 11rem);
  overflow: auto;
}

.tasks__content__container {
  margin: 3rem;
  /* height: 100%; */
  display: grid;
  justify-items: center;
}

.tasks__footer {
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 850px) {
  .tasks__content__container {
    margin: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .tasks__content__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .tasks__content__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .tasks__content__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .tasks__bar {
    height: 6rem;
  }

  .tasks__content {
    height: calc(100% - 13rem);
  }
}
