.tasks__container {
  --container-height: calc(100vh - var(--navbar-height));
}

@media screen and (min-width: 768px) {
  .tasks__header {
    justify-content: space-between;
  }

  .tasks__logo {
    display: block;
  }

  .line {
    display: block;
  }

  .searchBox__container {
    display: block;
  }

  .filterBox {
    display: block;
  }
}
