.tasks__container {
  margin: 2rem 2rem 2rem 2rem;
  height: var(--container-height);
  box-shadow: 0 0 10px rgb(146, 145, 145);
  border-radius: 10px;
}

.tasks__bar {
  height: 6rem;
  background-color: var(--color-secondary);
}

.tasks__header {
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  display: none;
  margin: 0 2rem;
  width: 1px;
  height: 4.5rem;
  background-color: white;
}

.tasks__logo {
  margin-left: 2rem;
}

.tasks__content {
  background-color: #fefefe;
  height: calc(100% - 12rem);
  overflow: auto;
}

.tasks__content__container {
  margin: 3rem;
  height: 100%;
  display: grid;
  justify-items: center;
}

.tasks__footer {
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 850px) {
  .tasks__content__container {
    margin: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .tasks__content__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1500px) {
  .tasks__content__container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .tasks__content__container {
    grid-template-columns: repeat(5, 1fr);
  }
}
