.editor__container {
  position: relative;
  margin: 1rem 2rem;
  border: 5px solid var(--task-border);
  border-radius: 20px;
  overflow: auto;
  background: var(--task-editor-background);
}

.editor {
  min-height: 100%;
  height: auto;
  font-size: 1.8rem;
  color: var(--editor-color);
}

.code__icon {
  color: rgb(128, 126, 126);
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}
