.tasks__container {
  --container-height: 100rem;
}

@media screen and (min-width: 768px) {
  .tasks__container {
    --container-height: 68rem;
  }

  .tasks__header {
    justify-content: left;
  }

  .line {
    display: block;
  }

  .searchBox__container {
    display: block;
  }

  .filterBox {
    display: block;
  }
}

@media screen and (min-width: 1700px) {
  .tasks__container {
    --container-height: 89.5rem;
  }
}
