@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* ======= Colors ======== */
  --color-background: #fbfefd;
  --color-primary: #252f6b;
  --color-secondary: #4a6bff;
  --color-title: #393939;
  --color-tagline: #4b4b4b;
  --color-btn-title: #fff;
  --color-card-title: #fff;

  --scroll-bar-color: #252f6b;
  --scroll-bar-background: #fbfefd;

  --border-primary: #252f6b;

  --btn-background: #252f6b;
  --btn-hover: #3848a1;

  --dropdown-background: #fbfefd;
  --dropdown-active-background: #252f6b;

  --login-forgot-hover: #252f6b;

  --navbar-background: #fbfefd;
  --navbar-logo: #252f6b;
  --navbar-link: #393939;
  --navbar-link-hover: #8bc7ff;
  --navbar-selected: #252f6b;

  --hero-background: #fbfefd;
  --hero-color: #000;
  --hero-span: #252f6b;
  --hero-tagline: #4b4b4b;

  --leader-background: #fbfefd;
  --leader-tagline: #4b4b4b;
  --leader-border: #252f6b;
  --leader-card: #252f6b;

  --tasks-background: #fbfefd;
  --tasks-container-background: #fbfefd;
  --tasks-bar: #252f6b;
  --tasks-card-header-background: #4a6bff;
  --tasks-card-header: #fff;
  --tasks-card-content-background: #fbfefd;
  --tasks-card-content: #000;

  --task-font-color: #252f6b;

  --profile-header-background: #252f6b;
  --profile-header: #fff;
  --profile-content-background: #fbfefd;
  --profile-content: #252f6b;

  /* ======= Typography ======== */
  --font-semi-bold: 400;
  --font-bold: 700;
}

.dark__mode {
  --color-background: #050d1a;

  --btn-background: #185adb;
  --btn-hover: #3848a1;

  --navbar-background: var(--color-background);
  --navbar-logo: #fff;
  --navbar-link: #fff;
  --navbar-link-hover: #185adb;
  --navbar-selected: #185adb;

  --hero-background: var(--color-background);
  --hero-color: #fff;
  --hero-span: #185adb;
  --hero-tagline: #fff;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 786px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* .boxShadow {
  box-shadow: 0 0 10px var(--color-primary);
} */

/*======== Block ========*/

.block {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1400px;
  }

  .nav-container {
    max-width: 1200px;
  }
}

/*======== Grids ========*/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*======== Buttons ========*/

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}

.btn--primary {
  background: var(--btn-background);
  color: var(--color-btn-title);
}

.btn--primary:hover {
  background: var(--btn-hover);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 1.8rem 4.5rem;
    margin-top: 2.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*======== Content ========*/

/* .navbar__container {
  margin-bottom: 4.8rem;
}

@media screen and (min-width: 768px) {
  .navbar__container {
    margin-bottom: 6.3rem;
  }
} */

/*======== Card ========*/

.card {
  /* border: 1px solid #000; */
  border-radius: 10px;
  box-shadow: 0 4px 4px #c4c4c4;
}

.card__title {
  color: var(--profile-header);
  background-color: var(--profile-header-background);
  text-align: center;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}

.card__title h1 {
  font-size: 2.5rem;
}

.card__content {
  color: var(--profile-content);
  background-color: var(--profile-content-background);
  border-radius: 0 0 10px 10px;
}

.card__profile {
  max-width: 80%;
}

@media screen and (min-width: 1700px) {
  .card__title h1 {
    font-size: 3.3rem;
    padding: 0.7rem 0;
  }
}
