@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --navbar-height: 5.44rem;

  --scroll-bar-color: #252f6b;
  --scroll-bar-background: #050d1a;

  --border-primary: #252f6b;

  --btn-background: #252f6b;
  --btn-hover: #3848a1;

  --dropdown-background: #fbfefd;
  --dropdown-active-background: #252f6b;

  /* ======= Colors ======== */
  --color-background: #fbfefd;
  --color-primary: #252f6b;
  --color-secondary: #4a6bff;
  --color-title: #393939;
  --color-tagline: #4b4b4b;
  --color-btn-title: #fff;
  --color-card-title: #fff;

  --login-forgot-hover: #252f6b;

  --navbar-background: #fbfefd;
  --navbar-logo: #252f6b;
  --navbar-link: #393939;
  --navbar-link-1: #252f6b;
  --navbar-link-2: #252f6b;
  --navbar-link-hover: #8bc7ff;
  --navbar-selected: #252f6b;

  --hero-background: #fbfefd;
  --hero-color: #000;
  --hero-span: #252f6b;
  --hero-tagline: #4b4b4b;
  --hero-plain: #0000cd;
  --hero-flower-1: #20b2aa;
  --hero-flower-2: #0084a4;
  --hero-bar-1: #665cf7;
  --hero-bar-2: #b86ef1;
  --hero-bar-3: #f46dfb;

  --leader-background: #fbfefd;
  --leader-title: #000;
  --leader-tagline: #4b4b4b;
  --leader-border: #252f6b;
  --leader-card: #252f6b;
  --leader-user: #252f6b;

  --tasks-background: #fbfefd;
  --tasks-container-background: #fbfefd;
  --tasks-bar: #252f6b;
  --tasks-card-shadow: #c4c4c4;
  --tasks-card-header-background: #2f40ac;
  --tasks-card-header-background-hover: #4a6bff;
  --tasks-card-header: #fff;
  --tasks-card-content-background: #fbfefd;
  --tasks-card-content: #000;

  --task-font-color: #252f6b;
  --task-border: var(--color-primary);

  --profile-header-background: #252f6b;
  --profile-header: #fff;
  --profile-content-background: #fbfefd;
  --profile-content: #252f6b;

  /* ======= Typography ======== */
  --font-semi-bold: 400;
  --font-bold: 700;
}

.dark__mode {
  --color-background: #050d1a;
  --color-primary: #3e64ff;
  --color-btn-title: #fff;

  --navbar-background: var(--color-background);
  --navbar-logo: #5cccf7;
  --navbar-link: #fff;
  --navbar-link-1: #665cf7;
  --navbar-link-2: #b86ef1;
  --navbar-link-3: #f46dfb;
  --navbar-link-4: #f360ac;
  --navbar-link-5: #fff;
  --navbar-link-hover: var(--color-primary);
  --navbar-selected: var(--color-primary);

  --hero-background: var(--color-background);
  --hero-color: #fff;
  --hero-span: #2ecbb9;
  --hero-tagline: #fff;
  --hero-plain: #3e64ff;
  --hero-flower-1: #20b2aa;
  --hero-flower-2: #0084a4;
  --hero-bar-1: #665cf7;
  --hero-bar-2: #b86ef1;
  --hero-bar-3: #f46dfb;

  --leader-background: var(--color-background);
  --leader-title: #f360ac;
  --leader-tagline: #fff;
  --leader-border: #b86ef1;
  --leader-card: #f7fcff;
  --leader-user: #5cccf7;

  /* --tasks-background: var(--color-background);
  --tasks-container-background: #111929;
  --tasks-bar: #5e17a0;
  --tasks-card-shadow: #000;
  --tasks-card-header-background: #14887e;
  --tasks-card-header-background-hover: #2ad6e6;
  --tasks-card-header: #fff;
  --tasks-card-content-background: #1b222e;
  --tasks-card-content: #13d8bd;
  --tasks-card-passed: #a2ecff; */

  --tasks-background: var(--color-background);
  --tasks-container-background: #111929;
  --tasks-bar: #6c54f3;
  --tasks-card-shadow: #000;
  --tasks-card-header-background: #4193b9;
  --tasks-card-header-background-hover: #2ad6e6;
  --tasks-card-header: #fff;
  --tasks-card-content-background: #1b222e;
  --tasks-card-content: #cbe7ff;
  --tasks-card-passed: #a2ecff;

  --search-background: #1b222e;
  --search-color: #fff;
  --search-placeholder: #fff;
  --search-line: #fff;
  --search-icon: #fff;

  --dropdown-background: #1b222e;

  --task-background: var(--color-background);
  --task-title-color: #6c54f3;
  --task-pdf-background: #1b222e;
  --task-pdf-color: rgb(174, 225, 245);
  --task-pdf-chaya: rgb(93, 108, 246);
  --task-pdf-label: rgb(223, 223, 223);
  --task-pdf-table: rgb(119, 119, 119);
  --task-resulted-background: #1b222e;
  --task-resulted-title: rgb(13, 184, 147);
  --task-resulted-content: rgb(8, 156, 167);
  --task-finished-color: rgb(8, 156, 167);
  --task-editor-background: #1b222e;
  --task-border: var(--color-background);

  --profile-background: var(--color-background);
  --profile-header-background: #089ca1;
  --profile-header: #fff;
  --profile-content-background: #3f3f413a;
  --profile-content: #ffffff;

  --scroll-bar-color: #fff;
  --scroll-bar-background: #fff;

  /* --btn-background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%); */
  --btn-background: linear-gradient(45deg, #0093e9 0%, #80d0c7 100%);
  --btn-hover: linear-gradient(45deg, #0093e9 30%, #80d0c7 100%);
}

@media screen and (min-width: 768px) {
  :root {
    --navbar-height: 6.2rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 50px;
  border: 1px solid var(--color-primary);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 786px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* .boxShadow {
  box-shadow: 0 0 10px var(--color-primary);
} */

/*======== Block ========*/

.block {
  --padding-vertical: 3rem;
  padding: var(--padding-vertical) 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1400px;
  }

  .nav-container {
    max-width: 1200px;
  }
}

/*======== Grids ========*/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*======== Buttons ========*/

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 2;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}

.btn--primary {
  background: var(--btn-background);
  color: var(--color-btn-title);
}

.btn--primary:hover {
  background: var(--btn-hover);
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 1.8rem 4.5rem;
    margin-top: 2.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*======== Content ========*/

/* .navbar__container {
  margin-bottom: 4.8rem;
}

@media screen and (min-width: 768px) {
  .navbar__container {
    margin-bottom: 6.3rem;
  }
} */

/*======== Card ========*/

.card {
  /* border: 1px solid #000; */
  border-radius: 10px;
  /* box-shadow: 0 4px 4px #c4c4c4; */
}

.card__title {
  color: var(--profile-header);
  background-color: var(--profile-header-background);
  text-align: center;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}

.card__title h1 {
  font-size: 2.5rem;
}

.card__content {
  color: var(--profile-content);
  background-color: var(--profile-content-background);
  border-radius: 0 0 10px 10px;
}

.card__profile {
  max-width: 80%;
}

@media screen and (min-width: 1700px) {
  .card__title h1 {
    font-size: 3.3rem;
    padding: 0.7rem 0;
  }
}
